
/* || Fonts  */

@font-face {
  font-family: 'roboto-regular';
  src: url('../webfonts/roboto/roboto-regular.eot');
  src: url('../webfonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/roboto/roboto-regular.woff2') format('woff2'),
        url('../webfonts/roboto/roboto-regular.woff') format('woff'),
        url('../webfonts/roboto/roboto-regular.ttf') format('truetype'),
        url('../webfonts/roboto/roboto-regular.svg#roboto-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'questrial-regular';
  src: url('../webfonts/questrial/questrial-regular.eot');
  src: url('../webfonts/questrial/questrial-regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/questrial/questrial-regular.woff2') format('woff2'),
        url('../webfonts/questrial/questrial-regular.woff') format('woff'),
        url('../webfonts/questrial/questrial-regular.ttf') format('truetype'),
        url('../webfonts/questrial/questrial-regular.svg#questrial-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* || GENERAL STYLES */

body ,
html ,
* {
	text-align: center;
	padding: 0;
	margin: 0;
	transition: all 0.2s;
}
html {
	overflow-x: hidden;
	font-size: 10px;
}


main {
	position: relative;
	top: 60px;
	padding: 0 10px;
}

ul,ol {
	list-style-type: none;
}

a {
	font-family: "questrial-regular", Helvetica, sans-serif;
	display: inline-block;
	text-decoration: none;
	color: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "roboto-regular", Helvetica, sans-serif;
	margin: 0;
}

p {
	font-family: "questrial-regular", Helvetica, sans-serif;
	font-size: 1.4rem;
}

header {
	text-align: left;
	background-color: #3F3D56f8;
	padding: 10px 0;
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	z-index: 999; 
}

section {
	margin-bottom: 20px;
	position: relative;
	clear: both;
}

img {
	max-width: 100%;
}

/* || UTILITIES */

.mobile-hide {
	display: none;
}

.m-tb-10 {
	margin: 10px 0;
}

/* || SITEWIDE */

.logo {
	display: inline-block;

	background-color: #54B192; /* Fallback for old browsers */
	background: linear-gradient(90deg,#54B192, #1CE39F);

	color: #3F3D56;

	font-size: 1.8rem;

	padding: 6px 8px;
	margin-left: 20px;

	border-radius: 50%;
	font-family: "questrial-regular", Helvetica, sans-serif;
}


.btn {
	font-family: "questrial-regular", Helvetica, sans-serif;
	background-color: #3F3D56;
	color: #ffffff;
	padding: 6px 28px;
	border-radius: 16px;
	font-weight: bold;
}

/* Menu showing and hidding */
nav {
	opacity: 0;
	text-align: center;
	position: absolute;
	top: -100vh;
	left:0;
	width: 100vw;
	height: 100vh;
	background-color: #54B192;
	transition: all 0.2s; 
}

.nav-show {
	top: 0;
	opacity: 1;
}

nav ul {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 80vw;
	margin: 0 10vw;
}

nav ul li {
	margin: 5px 0;
}

nav ul li a {
	display: block;
	color: #FFFFFF;
	font-size: 2rem;	
	padding: 6px 0;
}

.hum {
	cursor: pointer;
	display: inline-block;

	position: absolute;
	right: 20px;
	top: 50%;

	transform: translateY(-50%);


	z-index: 999;
}

.hum span {
	display: block;
	
	color: white;
	background-color: white;
	
	height: 3px;
	width: 26px;

	margin: 3px 0px;

	transition: all 0.3s;
}

/* Humberger Menu motion */
.hum-close span:nth-child(1) {
	position: relative;
	top: 6px;

	transform: rotateZ(45deg);
}

.hum-close span:nth-child(2) {
	opacity: 0;
}

.hum-close span:nth-child(3) {
	position: relative;
	top: -6px;
	transform: rotateZ(-45deg);
}


/* | Section 1 */
.section-1 .left {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.social-media-icons-links ul li {
	display: inline-block;	
	margin: 0 4px;
}



/* | Section 2 */
.section-2 .content img {
	width: 50%;
	margin: 10px 0;
}

.section-2 .content .row {
	margin: 20px 0;
}

.section-2 .content .text h3 {
	margin-bottom: 5px;
}


/* | Section 3 */

.section-3 .work .imgs .img {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
}

.section-3 .work .imgs .img {
	margin: 10px 0;
}

.section-3 .work h2 {
	margin-bottom: 10px;
}


/* | Section-4 */
.section-4 {
	padding-bottom: 20px;
}




/* -- Greater than 768px (Tablets) */
@media screen and (min-width: 768px) {

	/* || GENERAL STYLES */
	body ,
	html ,
	* {
		text-align: left;
	}

	html {
		font-size: 11px;
	}

	main {
		position: static;
		margin-top: 40px;
		padding: 0;
	}

	header {
		background-color: #00000000;
		position: relative;
	}


	/* || SITEWIDE */
	
	.mobile-hide {
		display: block;
	}
	
	.logo {
		margin-left: 10vw;
	}

	nav {
		position: absolute;
		top: 0px;
		left: 0;
		right: 0;
		background: #00000000;
		width: 100%;
		height: 100%;
		opacity: 1;
		text-align: center;
	}

	nav ul {
		width: 100%;
		margin: 0;
		position: absolute;
		right: 10vw;
		text-align: right;
	}

	nav ul li {
		display: inline-block;
		margin: 0 5px;
	}

	nav ul li a {
		color: black;
		font-size: 1.2rem;
	}



	/* || UTILITIES */
	.desktop-hide {
		display: none;
	}


	/* | Section 1 */
	.section-1 .left {
		position: relative;
		left: 10vw;
		width: 35%;	
		transform: translateX(0%);
	}

	.section-1 .right {
		position: absolute;
		top: -100px;
		right: -120px;
		width: 66vw;
		height: 35vw;
		background-color: #54B192;
		border-radius: 400px;
		transform: rotateZ(-25deg);
	}

	.section-1 .imageWrapper {
		position: absolute;
		top: -10px;
		right: 10vw;
		width: 35vw;
	}
	
	.section-1 .social-media-icons-links {
		margin-top: 20px;
	}

	.section-1 .btn {
		margin-top: 10px;
	}

	

	/* | Section-2 */
	.section-2 {
		position: relative;
		margin-top: 15vw;
	}

	.section-2 .content h2 {
		text-align: center;
	}

	.section-2 .content .text h3 {
		margin-bottom: 12px;
	}

	.section-2 .tree {
		position: absolute;
		top: -145px;
		left: -84px;
		width: 160px;
	}

	.section-2 .tree-1 {
		position: absolute;
		bottom: 62px;
		right: -86px;
		width: 160px;
	}


	.section-2 .content .row img {
		width: 100%;
	}

	.section-2 .content .row {
		position: relative;
		top: 30px;
		width: 80vw;
		margin: auto;
		clear: both;
		height: 250px;
	}


	.section-2 .content .row .right {
		float: right;
	}

	.section-2 .content .row .left {
		float: left;
	}

	.section-2 .content .row .img {
		width: 250px;
	}

	.section-2 .content .row .text {
		position: relative;
		top: 30px;
		width: 50%;
	}

	.dotted-lines {
		width: 50vw;
		position: absolute;
		top: 192px;
		left: 50%;
		transform: translateX(-50%);
	}

	.dotted-lines .second-line {
		margin-top: 120px;
	}

	.section-2 .content .third-i-do {
		position: relative;
		top: 74px;
	}



	/* | Section-3 */
	.section-3 {
		margin: 0 auto;
	}

	.section-3 .tree {
		position: absolute;
		width: 200px;
	}

	.section-3 .work h2 {
		text-align: center;
	}
	
	.section-3 .trees .tree-1 {
		position: absolute;
		right: -104px;
		bottom: 120px;
	}

	.section-3 .trees .tree-2 {
		position: absolute;
		top: -40px;
		left: -150px;
	}

	.section-3 .work .imgs {
		clear: both;
		width: 80%;
		margin: auto;
	}

	.section-3 .work .imgs .img {
		position: relative;
		left: 0;
		transform: translateX(0);
		width: 48%;
	}

	.section-3 .work .imgs .img.margin-top {
		margin-top: 40px;
	}

	.section-3 .work .imgs .img.minus-margin-top {
		margin-top: -30px;
	}

	.view-work {
		position: relative;
		top: 20px;
		margin: 10px auto;
		text-align: center;
	}


	/* | Section-4 */
	.section-4 {
		position: relative;
		top: 140px;
		padding: 0;
		margin: 0;
	}

	.section-4 .tree {
		position: absolute;
		top: 00px;
		left: -76px;
		width: 144px;
	}

	.section-4 .wrapper {
		margin: 0 auto;
		width: 80%;
		height: 200px;
	}

	.section-4 .left {
		position: relative;
		top: 30%;
		transform: translateY(-50%);
		width: 220px;
	}

	.section-4 .left .social-media-icons-links {
		margin-top: 30px;
	}

	.section-4 .left .btn {
		margin-top: 10px;
	}
	
	.section-4 .right {
		position: relative;
		top: -40px;
		width: 45%;
	}

	.section-4 .design {
		position: absolute;
		top: -145px;
		right: -240px;
		width: 86vw;
		height: 34vw;
		background-color: #54B192;
		border-radius: 200px;
		transform: rotateZ(-25deg);
	}

	.section-4 .left h2 {
		font-size: 20px;
	}




	.cleared {
		clear: both;
	}

	.float-right {
		float: right;
	}

	.float-left {
		float: left;
	}



}



/* -- Greater than 1024px (Laptops) */
@media screen and (min-width: 1024px) {
	
	/* || GENERAL STYLES */
	html {
		font-size: 14px;
	}	


	/* | Section 1 */
	.section-1 .left {
		top: 60px;
	}

	.section-1 .social-media-icons-links {
		margin-top: 30px;
	}


	.section-1 .btn {
		margin-top: 20px;
	}


	
	/* | Section-2 */
	.section-2 {
		margin-top: 20vw;
	}

	.dotted-lines {
		display: none;
	}

	/* | Section-3 */
	.section-3 {
		top: 80px;
	}


	/* | Section-3 */
	.section-4 {
		top: 280px
	}

	.section-4 .wrapper .design {
		width: 78vw;
		border-radius: 250px;
		right: -26vw;
		top: -14vw;
	}


	.section-4 .wrapper .left {
		top: 120px;
		left: 40px;
	}

}



/* -- Greater than 1440px (Laptops L) */
@media screen and (min-width: 1440px) {
	
	/* || GENERAL STYLES */
	html {
		font-size: 19px;
	}


	/* || SITEWIDE */
	header {
		padding: 20px 0;
	}


	/* | Section-1 */
	.section-1 .right {
		width: 60vw;
		top: -140px;
	}


	/* | Section-2 */
	.section-2 .content .row .img {
		width: 350px;
	}


	/* | Section-3 */
	.section-3 {
		top: 120px;
	}

	.section-3 .work h2 {
		margin-bottom: 40px;
	}


	/* | Section-4 */
	.section-4 {
		top:320px;
	}
	.section-4 .left {
		width: 30vw;
	}

	.section-4 .wrapper .left {
		top: 180px;
	}

	.section-4 .wrapper .left h2 {
		font-size: 2rem;
	}


}




